.schedule-container {
    width: 100%;
    overflow-x: auto;
    margin: 0 auto;
  }
  
  .schedule-table {
    margin-top: 40px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Ensure fixed table layout */
    border-radius: 23px; /* Add rounded corners to the entire table */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ensures rounded corners apply to the table content */
  }
  
  .schedule-table th,
  .schedule-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    vertical-align: middle; /* Ensure content is vertically centered */
    height: 60px; /* Ensure a consistent height for all cells */
  }
  
  .schedule-table th {
    background-color: #235f5d;
    font-weight: bold;
    border-top-left-radius: 12px; /* Rounded corner for the top-left */
    border-top-right-radius: 12px; /* Rounded corner for the top-right */
  }
  
  .schedule-table td {
    background-color: #ffffff;
  }
  
  .schedule-table td.has-class {
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: white; /* Default background color */
  }
  
  .schedule-table td.has-class:hover {
    background-color: #235f5dc9;
    color: white;
  }
  
  .class-info {
    padding: 5px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Ensure text is properly handled within the cell */
    font-size: 14px;
    line-height: 1.2; /* Adjust line height for better text spacing */
  }
  